<!-- posts -->
<div class="margin-top-20 margin-bottom-50">
  {% for item in site.data.category_menu.docs %}
  
  <div class="list-item-2 container wrap-reverse align-items-end justify-content-center" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
    {% if item.image %}
    <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
      <!-- <a href="{{ site.baseurl }}{{ item.url }}"> -->
      <img src="{{ site.baseurl }}/assets/img/{{ item.image }}" width="100%" alt="">
    </div>
    {% endif %}
    <div class="flex-basis-400 flex-grow-5">
      <div class="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
        <h2 class="list-post-title">
        <a href="{{ site.baseurl }}{{ item.url }}"><span>{{ item.title }}</span> </a>
        </h2>
      </div>
      <div class="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
        <span class="list-post-description">
          {{item.desc}}
        </span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
  <!-- posts -->