<footer>
  <div class="footer container column align-items-center justify-content-center">
    <div class="footer--block text-align-center">
      <div class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        <a href="{{ site.baseurl }}/"><span>{{ site.title }}</span> </a>
        <br>
        <a href="{{ site.baseurl }}/"><span style="color:black">{{ "Atlas Editor: Sara Moron Polanco" }}</span></a>
        <br>
        <a href="{{ site.baseurl }}/"><span style="color:black">{{ "Technical Curators: Danial Azam, Julian Giordani, Ben Mather" }}</span></a>
      </div>
      <br>
      <div class="by" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
        <a href="https://www.earthbyte.org/BGH_Wordpress/">
        <img border="0" alt="BGH" src="{{ site.baseurl }}/assets/img/BasinGenesisHub.png" width="500" height="100"/>
        <div style="text-align: center">
          <span>The ARC Research Hub for Basin Geodynamics and Evolution of Sedimentary Systems (Basin GENESIS Hub) is a showcase of connecting "Big Data" analysis and high-performance computing in an open innovation framework. The hub is fusing multidimensional data into 5D basin models (space and time, with uncertainty estimates) by coupling the evolution of mantle flow, crustal deformation, erosion, and sedimentary processes using open-source modelling tools. The BGH is funded by ARC and industry partners Equinor, Oil Search and Chevron.</span>
        </div>
        </a>
      </div>
    </div>
  </div>
</footer>
