---
layout: default
---
{% include minutes-to-read.html %}

<!-- breadcrumbs -->
<div class="size margin" data-aos="fade-right" data-aos-delay="100" data-aos-offset="0">
  {% include breadcrumbs.html path=page.path title=page.title %}
</div>
<!-- breadcrumbs -->

<div class="size margin min-height">
  <article>
    <!-- titles -->
    <h1 class="post-title" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">{{ page.model_name }}</h1>
    <div class="post-date" data-aos="fade-left" data-aos-delay="300" data-aos-offset="0">
      <!-- <time>{{ page.date | date_to_string }}</time> -->
      <span class="reading-time" title=" Author ">
      {% for a in page.author %}
        {% if forloop.last == true %}
          {{a}}
        {% else %}
           {{a}} , 
        {% endif %}
      {% endfor %}
      </span>
    </div>
    <!-- titles -->
    <!-- posts -->
    <div class="">
      <div class="list-item-2 container wrap-reverse align-items-end justify-content-center" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
<!--         {% if page.thumbnail %}
        <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
          <img src="{{ page.thumbnail }}" width="100%" alt="">
        </div>
        {% endif %} -->
        <div class="flex-basis-400 flex-grow-5">
          <div class="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
            <h3 class="list-post-title">
            Software Used:</h3>
            <ul>
            {% for x in page.version %}
            <span><li>{{x}}</li> </span>
            {% endfor %}
            </ul>
          </div>
          <div class="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
            <span class="list-post-description">
              <br>
              {% if page.animation.mp4 %}
              <div >
                <!-- {{page.animation.url}} -->
                <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
                <video width="720" height="360" controls>
                  <source src="{{page.animation.video}}" type="video/mp4">
                  <source src="{{page.animation.video}}" type="video/ogg">
                  Your browser does not support the video tag.
                </video>
                </div>
              {{page.animation.description}}
              </div>
              {% endif %}
              
              <br>

              {% if page.model_setup.url %}
              <h3 class="list-post-title">
              Model Setup: <br>
              </h3>
              
              <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
              <img src="{{ page.model_setup.url}}" width="100%" alt=""/>
              {{page.model_setup.description}}
              </div>
              {% endif %}

              <br>
              
              {% if page.conditions.url %}
              <h3 class="list-post-title">
              Conditions: <br>
              </h3>
              
              {% if page.conditions.table %}
              <table border="3">
                <tbody>
                  {% for e in page.conditions.table %}
                    {% if forloop.first == true %}
                    <tr>
                    {% for item in e %}
                        <th>{{item[0]}}</th>
                    {% endfor %}
                    </tr>
                    {% endif %}
                    <tr>
                    {% for item in e %}
                        <td>{{item[1]}}</td>
                    {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% endif %}
              <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
              <img src="{{ page.conditions.url}}" width="100%" alt=""/>
              {{page.conditions.description}}
              </div>
              {% endif %}
              
<!--               {% if page.conditions.table %}
              <h3 class="list-post-title">
              Conditions: 
              </h3>
              <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
              {{page.conditions.table}}
              {{page.conditions.description}}
              </div>
              {% endif %} -->

              <br>
              
              {% if page.result.url %}
              <h3 class="list-post-title">
              Results: <br> 
              </h3>
              <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
              <img src="{{ page.result.url}}" width="100%" alt=""/>
              {{page.result.description}}
              </div>
              {% endif %}
 
              <br>
              
              {% if page.citation %}
              <h3 class="list-post-title">
              Citation:  <br> 
              </h3>
              <a href="{{page.citation}}/">{{page.citation}}</a>
              {% endif %}
              <br>

              {% if page.model_url %}              
              <h3 class="list-post-title">
              Model URL: 
              </h3>
              <a href="{{page.model_url}}/">{{page.model_url}}</a>
              {% endif %}

            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- posts -->

    <!-- content -->
    {{ content }}
    <!-- content -->
  </article>
</div>
