---
layout: default
---
{% include minutes-to-read.html %}

<!-- breadcrumbs -->
<div class="size margin" data-aos="fade-right" data-aos-delay="100" data-aos-offset="0">
  {% include breadcrumbs.html path=page.path title=page.title %}
</div>
<!-- breadcrumbs -->

<div class="size margin min-height">
  <article>
    <!-- titles -->
    <h1 class="post-title" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">{{ page.model_name }}</h1>
    <div class="post-date" data-aos="fade-left" data-aos-delay="300" data-aos-offset="0">
      <!-- <time>{{ page.date | date_to_string }}</time> -->
      <span class="reading-time" title=" Author ">{{ page.author }}</span>
    </div>
    <!-- titles -->
    <!-- posts -->
    <div class="">
      <div class="list-item-2 container wrap-reverse align-items-end justify-content-center" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
<!--         {% if page.thumbnail %}
        <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
          <img src="{{ page.thumbnail }}" width="100%" alt="">
        </div>
        {% endif %} -->
        <div class="flex-basis-400 flex-grow-5">
          <div class="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
            <h2 class="list-post-title">
            {{page.software}} - {{page.category}} model
            </h2>
          </div>
          <div class="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
            <span class="list-post-description">

              {% if page.animation.url %}
              <div >
                <!-- {{page.animation.url}} -->
                <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
                <img src="{{ page.animation.url}}" width="100%" alt="">
                {{page.animation.url}}
                </div>
              {{page.animation.description}}
              </div>
              {% endif %}

              {% if page.model_setup.url %}
              <h3 class="list-post-title">
              Model Setup: 
              </h3>
              
              <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
              <img src="{{ page.model_setup.url}}" width="100%" alt=""/>
              {{page.model_setup.description}}
              </div>
              {% endif %}

              <br>

              
              {% if page.conditions.url %}
              <h3 class="list-post-title">
              Conditions: 
              </h3>
              <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
              <img src="{{ page.conditions.url}}" width="100%" alt=""/>
              {{page.conditions.description}}
              </div>
              {% endif %}
              
              {% if page.conditions.table %}
              <h3 class="list-post-title">
              Conditions: 
              </h3>
              <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
              {{page.conditions.table}}
              {{page.conditions.description}}
              </div>
              {% endif %}

              <br>
              
              {% if page.result.url %}
              <h3 class="list-post-title">
              Results: 
              </h3>
              <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
              <img src="{{ page.result.url}}" width="100%" alt=""/>
              {{page.result.description}}
              </div>
              {% endif %}
 
              <br>
              
              {% if page.citation %}
              <h3 class="list-post-title">
              Citation: 
              </h3>
              {{page.citation}}
              {% endif %}
              <br>

              {% if page.model_url %}              
              <h3 class="list-post-title">
              Model URL: 
              </h3>
              {{page.model_url}}
              {% endif %}

            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- posts -->

    <!-- content -->
    {{ content }}
    <!-- content -->
  </article>
</div>
